
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h4, h5, h6 {
  font-family: 'Montserrat-Bold', Arial, Sans-Serif;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}




#logo {
	position: absolute;
	height: 156px;
	width: 150px;
	left: 140px;
	top: -9px;
}

#features {
	margin-top: 150px;
}

.row {
    max-width: 100%;
    margin: 0 auto;
		text-align: center;
}




/* icons */
.facebook-icon {
	color: #4267B2;
}

.twitter-icon {
	color: #1DA1F2;
}

.linkedin-icon {
	color: #2867B2;
}

.facebook-icon:hover,
.twitter-icon:hover,
.linkedin-icon:hover {
	color: white;
}

/* Nav bar */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}


.navbar-nav  li a:hover {
    color: black !important;
		text-decoration: underline grey;
}


.nav-link {
	color: grey;
}

/* Home page */
.our-page-section {
	margin-top: 100px;
}

.read-me {
	text-align: left;
}

.our-page-img {
	position: relative;
	padding-left: 100px;
	padding-bottom: 100px;
}

.our-page-text {
	color: grey;
	text-align: justify;
}


/* About-us Section */
.long-copy {
  margin-bottom: 30px;
	text-align: center;
}

.about-us-title {
	text-align: center;
}


.about-us-section {
  margin-top: 50px;
	padding-top: 100px;
	width:auto;
	margin: auto;
}

.intro {
  width: 50%;
  margin: auto;
}

.about-us-text {
	width: 67%;
	margin: auto;
	text-align: justify;
	margin-top: 20px;
}

.about-us-title,
.our-team-title,
.our-page-title {
	text-decoration: underline grey;
}

.hr-about-us,
.hr-our-services {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto;
}


/* Our Services */
.services-title {
	text-align: left;
	font-size: 120%;
	font-weight: bold;
}

.our-services-text {
	text-align: justify;
	color: #888c89;
}

.more-services {
	text-align: left;
	padding-left: 15px;
}


.services-box {
  background-color: #f2f2f2;
  border-radius: 30px;
  margin: 10px;
}

.services-list {
  text-align: left;
  color: #888c89;
}

.location-img,
.phone-number-img,
.email-img {
  text-align: left;
  font-size: 0.9rem;
}

.our-services-img {
  text-align: left;
}
.services-icon {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

ul {
  list-style-type: disc;
}



/* The team behind */
.our-team-section,
.our-services-section,
.our-page-section {
	width: 70%;
	margin: auto;
	margin-top: 100px;
}

.position {
	color: grey;
	font-style: italic;
	text-align: justify;
}

cite {
    font-size: 90%;
    margin-top: 25px;
		margin-bottom: 15%;
    display: block;
}

cite img {
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/* Footer */

.footer-nav {
	list-style: none;
	text-align: center;
	margin-left: 10px;
	padding-left: 10px;
	color: #000;
}


.social-links {
	list-style: none;
	text-align: center;
}

.social-links li {
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
}

footer {
	background-color: #e0dede;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 50%;
}
